<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gomoku-Home</title>
    <link rel="stylesheet" href="/assets/style.css">
</head>
<body>
<div><p>Welcome !!!</p></div>
</body>
</html>