<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gomoku-Room</title>
    <link rel="stylesheet" href="/assets/style.css">
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body ng-app="app">
<div class="wrapper" ng-controller="gomoku">
    <div class="header">
        <div>
            <div>Username: {{playerName}}
                <button ng-click="changeUsername()">Edit</button>
            </div>
            <div>
                <ul>
                    <li ng-repeat="x in listPlayer">{{x.playerName}}</li>
                </ul>
            </div>
        </div>
        <div id="title">GoMoKU</div>

    </div>
    <div class="main_container">
        <div class="inforGame">
            <div class="choosePlayer">
                <p ng-if="count===0">Let's choose chessman : </p>
                <button id="choose1" ng-click="setPlayer(1)">Player 1 : {{player1.playerName}}</button>
                <button id="choose2" ng-click="setPlayer(2)">Player 2 : {{player2.playerName}}</button>
            </div>
            <div>
                <div id="result">
                    <h2 ng-if="isWin && count % 2 == 1">Congratulation !<br><br> {{player1.playerName}} is winner ^^!</h2>
                    <h2 ng-if="isWin && count % 2 == 0">Congratulation !<br><br> {{player2.playerName}} is winner ^^!</h2>
                </div>

                <div id="form">

                    <form ng-submit="chat()">
                        <input type="text" ng-model="message">
                        <button type="submit">Send</button>
                    </form>
                    <ul>
                        <li ng-repeat="m in messages">
                            <span>{{m.name}}: {{m.message}}</span>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="table_container">

            <button id="newGame" ng-if="isWin" ng-click="newGame()">New Game</button>

            <table>
                <tr ng-repeat="x in data">
                    <td ng-repeat="y in x track by $index">
                        <div ng-if="y==0" ng-click="touch($parent.$parent.$index, $parent.$index)"></div>
                        <div id="player1" ng-if="y==1"
                             ng-class="{yellow: color[$parent.$parent.$index][$parent.$index] }">
                            <p>O</p></div>
                        <div id="player2" ng-if="y==2"
                             ng-class="{yellow: color[$parent.$parent.$index][$parent.$index] }">
                            <p>X</p></div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="side_bar"></div>
    </div>
</div>
<div class="footer"></div>
</div>
<script src="/assets/room.js"></script>
</body>
</html>