body {
    background: url(https://maimai88.files.wordpress.com/2016/04/beautiful-chinese-style-tablets-wallpapers-1366x768-16.jpg) no-repeat;
    background-size: cover;
    font-family: Chalkduster , serif;
}
.header{
    display:flex ;
}

#title{
    padding-top: 30px ;
    margin-left: 500px;
    color: brown;
    font-size: 40px;
}
.main_container {
    display: flex;
    flex-wrap: wrap;
}

/* infoclass*/

.inforGame {
    width: 400px;
}
#result{
    padding-left: 15px;
    color: crimson;

}
#choose1{
    background: beige;
    color:red;
    border-radius: 5px;
    font-family: Chalkduster, serif;
    width: 150px;
    height: auto;
    font-size: 15px;
}
#choose2{
    background: beige;
    color:blue;
    border-radius: 5px;
    font-family: Chalkduster, serif;
    width: 150px;
    height: auto ;
    font-size: 15px;
}
#form{
    padding: 10px 0px;
}
form{
    margin-top: 30px;
    width: 300px;
    height: 200px;
}
form ,  input{
    width: 200px;
    height: 40px;
    border-radius: 5px;
}
form ,button{
    background: cornflowerblue ;
    color: white;
    width: 70px;
    font-family: Chalkduster,serif;
}
ul{
    margin-top: 40px;
    height: 100px;
}
/* table */
.table_container {
    position: relative;
    margin: 0px 100px;
    width: 700px;
}

table, td {
    border-collapse: collapse;
    border: 1px solid green;
}

td div {
    width: 30px;
    height: 30px;
    background: beige;
    color: red;
    font-size: 25px;
    text-align: center;
    font-style: oblique;
    display: flex;
    justify-content: center;
    align-items: center;
}

#player2 {
    color: blue;
}

td div p {
    margin: 0;

}

td {
    vertical-align: middle;
}

#newGame {
    position: absolute;
    background: crimson;
    width: 200px;
    height: 80px;
    font-size: 17px;
    color: white;
    border-radius: 5px;
    margin: 300px 230px;
}



.yellow {
    background-color: #ffff66;
}


    